<div class="w-full h-full flex items-center justify-center bg-light">

  <div class="bg-white max-w-[360px] text-center shadow-xl shadow-slate-100 border-1 p-5 rounded-xl">
    <h1 class="text-3xl font-semibold mb-2 text-darker mt-6">Hello World!</h1>

    <p class="text-lg mb-6 max-w-[250px] mx-auto text-darker leading-6">
      Welcome to the weather forecast web application
    </p>

    <p class="text-sm mb-5 text-dark">
      Please login with your Github user to use the application and view the weather in your city.
    </p>

    <button class="bg-primary text-white px-4 py-2 rounded w-full mb-2" (click)="auth.loginWithRedirect()">Sign In</button>
  </div>

</div>
