<div class="container mx-auto px-4" *ngIf="forecast">
  <h2 class="font-medium text-darker text-2xl mt-10">Forecast for <span class="text-primary">{{forecast.city?.name}}</span></h2>
  <table class="table-fixed w-full my-10">
    <thead>
      <tr>
        <th class="text-left px-4 py-3 bg-light">Date</th>
        <th class="text-left px-4 py-3 bg-light">Temperature (°F)</th>
        <th class="text-left px-4 py-3 bg-light">Description</th>
        <th class="text-left px-4 py-3 bg-light">Main</th>
        <th class="text-left px-4 py-3 bg-light">Pressure</th>
        <th class="text-left px-4 py-3 bg-light">Humidity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let weather of forecast.list">
        <td class="px-4 py-3 border-b border-light">{{weather.dt_txt | date: 'MMMM dd, yyyy'}}</td>
        <td class="px-4 py-3 border-b border-light">{{(1.8 * (weather.main.temp -273) + 32).toFixed(0)}} degrees</td>
        <td class="px-4 py-3 border-b border-light capitalize">{{weather.weather[0].description}}</td>
        <td class="px-4 py-3 border-b border-light">{{weather.weather[0].main}}</td>
        <td class="px-4 py-3 border-b border-light">{{weather.main.pressure}}</td>
        <td class="px-4 py-3 border-b border-light">{{weather.main.humidity}}</td>
      </tr>
    </tbody>
  </table>
</div>
