:host {
  overflow: auto;
}

.table-fixed thead tr th:nth-of-type(3),
.table-fixed thead tr th:nth-of-type(4),
.table-fixed thead tr th:nth-of-type(5),
.table-fixed thead tr th:nth-of-type(6),
.table-fixed tbody tr td:nth-of-type(3),
.table-fixed tbody tr td:nth-of-type(4),
.table-fixed tbody tr td:nth-of-type(5),
.table-fixed tbody tr td:nth-of-type(6) {
  display: none;
}

@media screen and (min-width: 1024px) {
  .table-fixed thead tr th:nth-of-type(3),
  .table-fixed thead tr th:nth-of-type(4),
  .table-fixed thead tr th:nth-of-type(5),
  .table-fixed thead tr th:nth-of-type(6),
  .table-fixed tbody tr td:nth-of-type(3),
  .table-fixed tbody tr td:nth-of-type(4),
  .table-fixed tbody tr td:nth-of-type(5),
  .table-fixed tbody tr td:nth-of-type(6) {
    display: table-cell;
  }
}

@media screen and (min-width: 768px) {
  .table-fixed thead tr th:nth-of-type(4),
  .table-fixed tbody tr td:nth-of-type(4),
  .table-fixed thead tr th:nth-of-type(3),
  .table-fixed tbody tr td:nth-of-type(3) {
    display: table-cell;
  }
}

@media screen and (min-width: 640px) {
  .table-fixed thead tr th:nth-of-type(3),
  .table-fixed tbody tr td:nth-of-type(3) {
    display: table-cell;
  }
}
